[submodule "extra/tree-sitter"]
	path = extra/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "extra/tree-sitter-cpp"]
	path = extra/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
